.wp-block-ttm-form {
    --ttm--color--light: #999999;

    .sr-only {
        border-width: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    label {
        display: block;
    }
    input,
    textarea {
        border: 1px solid var(--ttm--color--light);
        border-radius: 0.5rem;
        box-sizing: border-box;
        display: block;
        margin-bottom: 0.5rem;
        max-width: 100%;
        padding: 0.5rem;
        width: 100%;

        &::placeholder {
            color: var(--ttm--color--light);
            font-style: italic;
        }
    }
    input[type=submit] {
        cursor: pointer;
        margin-top: 1rem;
        width: auto;
    }
}
