.ttm-forms--password,
.ttm-forms--text {
	width: 100%;
}

.modules {
	box-sizing: border-box;
}

.modules tbody {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.modules tr {
    background: #fff;
    border: 1px solid #8c8f94;
    padding: 0.5rem;
    border-radius: 5px;
}

.modules th {
    display: none;
}

.modules td {
    align-items: center;
	display: flex;
    justify-content: space-between;
	margin-bottom: 0;
    padding: 0;
}

.modules label {
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	width: 200px;
}

.module.show {
	display: block;
}

.module.hide {
	display: none;
}

.fields {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}
.field {
	align-items: center;
	background-color: #efefef;
	box-sizing: border-box;
	display: flex;
	flex: 100% 0 0;
	justify-content: space-between;
	padding: 0.5rem;
}
.field-label {
	width: 100%;
}

@media(min-width:768px) {
	.field {
		flex: calc(25% - 0.5rem) 0 0;
	}
}
